body {
    overflow-x: hidden;
}

p {
    color: #ffffff;
    font-family: 'B612Mono-Regular';
    font-style: 1.2975rem;
}

.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Audiowide-Regular";
    color: none;
    font-size: 4.0625rem; 
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff;
}

h3 {
    font-family: "Audiowide-Regular";
    font-size: 1.296rem; 
    color: #fff;
}

a {
    font-family: "Audiowide-Regular";
    font-size: 1.196rem; 
    color: #fff;
    font-size: 1.7rem;
    border: 0.1rem solid rgb(255, 255, 255);
    padding: 2%;
}


.btn {
    font-family: "Audiowide-Regular";
    color: #fff;
    font-size: 1.625rem; 
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.portfolio-image {
    max-width: 100%; /* изображение не превышает ширину контейнера */
    height: auto;    /* высота автоматически подстраивается */
}

.container {
    width: 90%; /* адаптивная ширина */
    max-width: 1400px; /* максимальная ширина */
    margin: 0 auto; /* центрирование */
}

.header {
    padding: 0.3125rem; 
}

header {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 5vh; 
    background-color: none; 
    padding-top: 3%;
}

nav {
    margin-left: 6.25rem; 

}

header nav {
    width: 65%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0.625rem; 
}

header button {
    margin-left: 6.875rem;
    font-family: Audiowide-Regular;
    font-size: 1.8125rem; 
    text-decoration: none;
    color: transparent; 
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text; 
    border: 2px solid #ffffff;
    display: inline-block; 
    padding: 0.5rem 1.5625rem; 
    transition: transform 0.3s ease, border 0.3s ease; 
}

header button:hover {
    border: 2px solid #eacbe9; /* Цвет границы при наведении */
    transform: scale(1.1); /* Увеличение кнопки при наведении */
    z-index: 1; /* Увеличение z-inde чтобы кнопка была выше других элементов */
    color: transparent; /* текст прозрачным при наведении */
    background: linear-gradient(90deg, rgba(83, 26, 78, 1) 1%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text; /* Для Chrome и Safari */
    background-clip: text; /* Для Firefox */
}

html {
    background-image: url(images/phon.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


.img1{
    padding-top: 15%;

}
.hero
{
    padding-top: 15%;
}

.introdaction {
    padding-top: 0; 
    margin-top: 1rem; 
}
.introdaction h1{
    padding-top: 0;
    padding-bottom: 0;
}

.cells-container {
    padding-top: 0;
    display: flex;       
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 0 12%;  
    padding-top: 7%;     
}

.firstcell, .secondcell {
    padding-top: 0;
    flex: 1;                  
    margin: 0 10px;          
}

.photoandname {
    padding-top: 8%;
    padding-left: 12%;
    
}

.photoandname h3 {
    margin-top: 2rem;
    display: flex;                
    align-items: center;        
    justify-content: center;   
    padding-top: 40%;          
    width: 24.1rem;             
    height: 5rem;              
    border: 0.2rem solid rgb(255, 255, 255); 
    padding: 2rem;            
    box-sizing: border-box;
    font-size: 1.8125rem; 
}

 .education{
    padding-top: 4rem;
    padding-left: 12%;

 }

 .education p{
    padding-top: 3rem;
    padding-right: 25%;
    font-size: 1.2975rem;

 }

 .language{
    padding-top: 3rem;
    padding-left: 12%;
 }

 .row {
    padding-top: 8%;
    display: flex;               
    align-items: center;        
    justify-content: flex-start; 
    padding-right: 20%;    
}

.rowR, .rowE {
    display: flex;             
    align-items: center;        
}

.rowR {
    margin-right: 17%;        
}

.rowR h3, .rowE h3 {
    padding-top: 4%;
    margin: 0 7px;              
}


.row2 {
    padding-top: 1%;
    display: flex;               
    align-items: center;        
    justify-content: space-between; 
    padding-left: 7%; 
    padding-right: 40%; 
}

.row2 h3{
    font-size: 0.9rem;
    color:#827a7a;
   
}

.contents h1{
    padding-left: 37vw; 
    padding-top: 18%; 
}
.content_buttons{

    padding-top: 8%;
    padding-left: 20%;
    padding-right: 15%;
    display: flex;               
    align-items: center;        
    justify-content: flex-start; 
    flex-direction: row;
    flex-wrap:wrap;
    gap: 20px; /* между кнопками расст */


}

.btn2 {
    
    background-color: transparent;
    border: 2px solid #fff;
    display: flex;               
    align-items: center;        
    justify-content: flex-start; 
    width: 18.25rem; 
    height: 12.375rem;
    
  }
  
  .btn2 h1 {
    padding: 0.5rem 1.5625rem;
  }
  
.btn2 .small {
    font-family: Audiowide-Regular;
    font-size: 1rem;
    color:#fff;
    align-items: flex-end; 
  }


  .allcontents {
    width: 960px;
    display: flex;
    overflow-x: scroll;
   
}

.allcontents .gallery{
    width: 100%;
    display: flex;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;

}



.allcontents .gallery img{
    width: 100%;
    height: 100%;

}

.allcontents::-webkit-scrollbar{
    display: none;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    

}

.controls #rightBtn, .controls #leftBtn{
    width: 3%;
    cursor: pointer;
    margin: 1%;

}

.zagolovok{
    padding-left: 41%; 
    padding-top: 25%;
}


.text{
    padding-left: 41%; 
    padding-top: 1%;
}




.controls h1{
    padding-left: 40%;
    padding-top: 20%S;
}

.gallery {
    display: flex;
    align-items: center;  
    justify-content: center;
    position: relative;
    padding-top: 30%; 
    padding-left: 50%;
}

.gallery img.img2 {
    width: 10%; /* Увеличиваем размер изображений */
    height: auto;
    padding: 2%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease; /* Плавное переключение изображений */
}

.gallery img.img2.active {
    opacity: 1;
}

img.smalls {
    height: auto;
    width: 4%; /* Увеличиваем размер стрелок */
    position: absolute;
    cursor: pointer; /* Указатель мыши для кнопок */
    top: 50%; /* Центрируем стрелки по вертикали */
    transform: translateY(-0%); /* Центрирование стрелок по вертикали */
    padding-right: 0%;
}

img.smalls.prev {
    left: 10%; /* Размещение стрелки слева */
}

img.smalls.next {
    right: 0; /* Размещение стрелки справа */
   
}



.contacts_h{
    padding-left: 39%; 
    padding-top: 10%;
}

.contacts1{
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding-left: 29%; 
    padding-right: 31%;
    padding-top: 5%;
    gap: 4%;
}


.contacts1 img{
  
    border: 0.1rem solid rgb(255, 255, 255);
    padding: 1%;
}


.contacts2{
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding-left: 29%; 
    padding-right: 31%;
    padding-top: 1%;
    gap: 4%;
}


.contacts2 img{
  
    border: 0.1rem solid rgb(255, 255, 255);
    padding: 1%;
}

a[href^="tel:"] {
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: #000000;
  }